# Pacotes Essenciais para ETL e Análise
pandas==2.2.2
numpy==2.0.2
scipy==1.16.2
statsmodels==0.14.5

# Machine Learning (Modelagem)
scikit-learn==1.6.1
imbalanced-learn==0.14.0

# Visualização
matplotlib==3.10.0
seaborn==0.13.2

# Conexão com Dados (Se você usa BigQuery no Python)
google-cloud-bigquery==3.38.0
